<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Righteous" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/burger_style.css">
    <script src="/public/assets/js/burgers.js"></script>
</head>
<body>
    <section id='content-container' class="fade-in">
        <header id="title" class="fade-out">
            <h1>Eat-Da-Burger</h1>
        </header>
        <section id="main-content">
            {{{body}}}
        </section>
    </section>
</body>
</html>